{{define "title"}}
	About Flatten
{{end}}

{{define "body"}}
	<div class="content">
		<h1>Flatten overview</h1>
		<p>Flatten is an open-source service to help you with saving comments into Pocket-like apps from sites you love.</p>
		<p>It's simple to use - just paste URL into input above and then save resulting page into Pocket.</p>
		<p>Currently supported:</p>
		<ul>
			<li><a href="#">Reddit</a></li>
			<li><a href="#">Hacker News</a></li>
			<li><a href="#">Habrahabr</a></li>
		</ul>
		<p>More sites will come soon - meantime you can open an issue on <a href="#">Github</a></p>
	</div>
{{end}}